<ion-content>
  <app-header></app-header>

  <section id="secao-tabela" *ngIf="mostrarFormulario === false">
    <h3>Registros Existentes</h3>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Data Abertura</th>
          <th>Data Prevista</th>
          <th>Data Fechamento</th>
          <th>Status</th>
          <th>Status Aberto</th>
          <th>Recrutador</th>
          <th>Cliente</th>
          <th>UF</th>
          <th>Cidade</th>
          <th>Situação</th>
          <th>Tipo</th>
          <th>Tipo Contratação</th>
          <th>Observações</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tabela">
          <td>{{item.id}}</td>
          <td>{{item.data_abertura}}</td>
          <td>{{item.data_prevista_inicio}}</td>
          <td>{{item.data_fechamento}}</td>
          <td>{{item.status}}</td>
          <td>{{item.status_em_aberto}}</td>
          <td>{{item.recrutador}}</td>
          <td>{{item.cliente}}</td>
          <td>{{item.uf}}</td>
          <td>{{item.cidade}}</td>
          <td>{{item.situacao}}</td>
          <td>{{item.cobre_ferias}}</td>
          <td>{{item.tipo_contratacao}}</td>
          <td>{{item.observacoes}}</td>
          <td id="botoesFodas">
            <ion-button size="small" class="btn-alterar" (click)="ToggleFormulario(); GuardarItems(item.id)">alterar</ion-button>
            <ion-button size="small" class="btn-deletar">deletar</ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="secao-alterar" *ngIf="mostrarFormulario === true">
    <div class="titulo-card">
      <h3>Alterando Cadastro</h3>
      <ion-button class="btn-alterar" (click)="ToggleFormulario()">fechar formulário</ion-button>
    </div>
    <div *ngFor="let item of linhaSelecionada" id="formAlterar">
      <ion-text>Id do Registro: {{item.id}}</ion-text>
      <ion-select label="Situação" labelPlacement="floating" [(ngModel)]="situacao">
        <ion-select-option>Abertura de Vaga</ion-select-option>
        <ion-select-option>Divulgação</ion-select-option>
        <ion-select-option>Triagem</ion-select-option>
        <ion-select-option>Seleção</ion-select-option>
        <ion-select-option>Com Cliente</ion-select-option>
        <ion-select-option>Documentação</ion-select-option>
        <ion-select-option>Entregue ao DP</ion-select-option>
        <ion-select-option>Vaga Concluída</ion-select-option>
      </ion-select>
      <ion-input label="Observação" labelPlacement="floating" [(ngModel)]="observacao"></ion-input>
      <ion-button (click)="AlterarVaga(item.id, situacao, observacao)">salvar alterações</ion-button>
    </div>
  </section>
</ion-content>