#formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    ion-select, ion-input {
      border: 1px solid black;
      border-radius: 20px;
      overflow: hidden;
      --padding-start: 10px;
      --padding-end: 10px;
    }
  }
}

.dataSelector {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
}