<ion-content>
  <header>
    <img src="../../assets/images/icon2.png" alt="Icone">
    <ion-buttons>
      <ion-button>Home</ion-button>
    </ion-buttons>
  </header>

  <section id="formulario">
    <div>
      <div class="dataSelector">
        <ion-text>Data de Abertura</ion-text>
        <ion-datetime-button datetime="dataAbertura"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="dataAbertura" presentation="date"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>

      <div class="dataSelector">
        <ion-text>Data Prevista</ion-text>
        <ion-datetime-button datetime="dataPrevista"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="dataPrevista" presentation="date"></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>

      <ion-select label="Selecione o recrutador..." labelPlacement="floating">
        <ion-select-option>Lidiane</ion-select-option>
        <ion-select-option>Ramon</ion-select-option>
      </ion-select>

      <ion-select label="Selecione o tipo da vaga..." labelPlacement="floating">
        <ion-select-option>Substituição</ion-select-option>
        <ion-select-option>Cobre Férias</ion-select-option>
        <ion-select-option>Ampliação</ion-select-option>
        <ion-select-option>Compart</ion-select-option>
        <ion-select-option>Auxílio Doença</ion-select-option>
        <ion-select-option>Acidente de Trabalho</ion-select-option>
      </ion-select>

      <ion-select label="Selecione o cliente..." labelPlacement="floating">
        <ion-select-option *ngFor="let item of clientes">{{item.nome}}</ion-select-option>
      </ion-select>

      <ion-input label="Digite a UF..." labelPlacement="floating" placeholder="Ex: MG"></ion-input>

      <ion-input label="Digite a cidade..." labelPlacement="floating"></ion-input>

      <ion-select label="Selecione a situação da vaga..." labelPlacement="floating">
        <ion-select-option>Abertura de Vaga</ion-select-option>
        <ion-select-option>Divulgação</ion-select-option>
        <ion-select-option>Triagem</ion-select-option>
        <ion-select-option>Seleção</ion-select-option>
        <ion-select-option>Com Cliente</ion-select-option>
        <ion-select-option>Documentação</ion-select-option>
        <ion-select-option>Entregue ao DP</ion-select-option>
        <ion-select-option>Vaga Concluída</ion-select-option>
      </ion-select>

      <ion-select label="Selecione o tipo de contratação..." labelPlacement="floating">
        <ion-select-option>6019</ion-select-option>
        <ion-select-option>CLT</ion-select-option>
        <ion-select-option>Coligada</ion-select-option>
        <ion-select-option>Intermitente</ion-select-option>
        <ion-select-option>Freelancer</ion-select-option>
      </ion-select>

      <ion-input label="Observações..." labelPlacement="floating"></ion-input>

      <ion-button>Adicionar nova vaga</ion-button>
    </div>
  </section>
</ion-content>