<ion-content>
  <app-header></app-header>

  <section id="formulario">
    <div>
      <ion-input type="date" label="Data de Abertura" labelPlacement="floating" [(ngModel)]="dataAbertura"></ion-input>

      <ion-input type="date" label="Data Prevista de Início" labelPlacement="floating" [(ngModel)]="dataPrevista"></ion-input>

      <ion-select label="Selecione o recrutador..." labelPlacement="floating" [(ngModel)]="recrutador">
        <ion-select-option>Lidiane</ion-select-option>
        <ion-select-option>Ramon</ion-select-option>
      </ion-select>

      <ion-select label="Selecione o tipo da vaga..." labelPlacement="floating" [(ngModel)]="cobreFerias">
        <ion-select-option>Substituição</ion-select-option>
        <ion-select-option>Cobre Férias</ion-select-option>
        <ion-select-option>Ampliação</ion-select-option>
        <ion-select-option>Compart</ion-select-option>
        <ion-select-option>Auxílio Doença</ion-select-option>
        <ion-select-option>Acidente de Trabalho</ion-select-option>
      </ion-select>

      <ion-select label="Selecione o cliente..." labelPlacement="floating" [(ngModel)]="cliente">
        <ion-select-option *ngFor="let item of clientes">{{item.nome}}</ion-select-option>
      </ion-select>

      <ion-input label="Digite a UF..." labelPlacement="floating" placeholder="Ex: MG" [(ngModel)]="uf"></ion-input>

      <ion-input label="Digite a cidade..." labelPlacement="floating" [(ngModel)]="cidade"></ion-input>

      <ion-select label="Selecione a situação da vaga..." labelPlacement="floating" [(ngModel)]="situacao">
        <ion-select-option>Abertura de Vaga</ion-select-option>
        <ion-select-option>Divulgação</ion-select-option>
        <ion-select-option>Triagem</ion-select-option>
        <ion-select-option>Seleção</ion-select-option>
        <ion-select-option>Com Cliente</ion-select-option>
        <ion-select-option>Documentação</ion-select-option>
        <ion-select-option>Entregue ao DP</ion-select-option>
        <ion-select-option>Vaga Concluída</ion-select-option>
      </ion-select>

      <ion-select label="Selecione o tipo de contratação..." labelPlacement="floating" [(ngModel)]="tipoContratacao">
        <ion-select-option>6019</ion-select-option>
        <ion-select-option>CLT</ion-select-option>
        <ion-select-option>Coligada</ion-select-option>
        <ion-select-option>Intermitente</ion-select-option>
        <ion-select-option>Freelancer</ion-select-option>
      </ion-select>

      <ion-input label="Observações..." labelPlacement="floating" [(ngModel)]="observacoes"></ion-input>

      <ion-button (click)="postVaga()">Adicionar nova vaga</ion-button>
    </div>
  </section>
</ion-content>